/* .heading-title {
  width: 142px;
  height: 36px;
  color: #000000;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 26px;
  text-align: left;
}

 .danger {
  background: #bb285c;
  color: #ffffff;
  font-family: "Helvetica";
} 

.button-default {
  width: 110px;
  height: 46px;
  padding: 0px 10px 0px 10px;
  background: #1565c0;
  color: #ffffff;
  border-color: #0d47a1;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.button-create {
  width: 182px;
  height: 46px;
  padding: 0px 10px 0px 10px;
  background: #629c44;
  color: #ffffff;
  border-color: #4c7a34;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.button-cancel {
  width: 156px;
  height: 46px;
  padding: 0px 10px 0px 10px;
  background: #ebebeb;
  color: #444444;
  border-color: #929292;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.combo-box {
  width: 180px;
  height: 32px;
  padding: 4px 8px 4px 8px;
  background: #ebebeb;
  color: #232323;
  border-color: #232323;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px 8px 8px 8px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.date-picker {
  width: 250px;
  height: 32px;
  padding: 4px 8px 4px 8px;
  background: #ebebeb;
  color: #232323;
  border-color: #232323;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.checkbox {
  width: 305px;
  height: 19px;
  background: #ffffff;
  color: #232323;
  border-color: #232323;
  border-width: 1.5px;
  border-style: solid;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.input-text {
  width: 250px;
  height: 32px;
  padding: 4px 8px 4px 8px;
  background: #ffffff;
  color: #c0c0c0;
  border-color: #232323;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.label-default {
  width: 92px;
  height: 19px;
  color: #232323;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  text-align: right;
}

.label-danger {
  width: 115px;
  height: 19px;
  color: #bb285c;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  text-align: right;
}

.input-danger {
  width: 246px;
  height: 32px;
  padding: 4px 8px 4px 8px;
  background: #ffffff;
  color: #c0c0c0;
  border-color: #9c1f4d;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

.grid {
  width: 908px;
  height: 466px;
  background: #ffffff;
  color: #000000;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
}

.react-bs-container-body tr {
  border-top-style: hidden !important;
}

.react-bs-container-header tr {
  border-bottom-style: hidden !important;
} */

body {
  font-weight: 300;
}