body {
  font-weight: 300 !important;
  font-size: 1rem;
}
.nav-header {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1;
  height: 24px;
}

.container {
  max-width: "98%";
}
.container .personalized {
  margin-bottom: "80px";
}

.nav-footer {
  font-size: 0.7rem;
}
.nav-environment {
  font-size: 1rem;
}

/*FORMS*/
label {
  font-size: small;
}

label span {
  color: red;
}
/*PROFILE*/
.card-profile {
  width: 20rem;
}
/*Form Auth*/
.auth-loading {
  margin-top: 20%;
}
.auth-form {
  margin-top: 10%;
}

/*Personal Performance Item*/
.personal-performance-metric-label {
  font-size: 1.5rem;
}
.personal-performance-metric-subtitle {
  font-size: 0.875rem;
}

.personal-performance-metric-prefix {
  font-size: 2.188rem;
}
.personal-performance-metric-value {
  font-size: 3.125rem;
}
.personal-performance-metric-suffix {
  font-size: 1.875rem;
}
/*Message*/
.message {
  position: absolute;
  top: 20px;
  right: 10px;
  margin-bottom: 0px;
  z-index: 10000000;
}

/*Paragraph*/
span .alert {
  font-weight: bold;
  color: red;
}

/*TABLE STYLES*/

.salary-formatter {
  color: green;
  font-weight: bold;
}
.react-bootstrap-table th {
  /* text-transform: uppercase; */
  font-weight: 300;
}

.react-bootstrap-table td {
  font-size: 0.8rem;
}

.react-bootstrap-table th input,
.react-bootstrap-table th select {
  padding: 2px !important;
  font-size: 0.8rem !important;
}

div.react-bootstrap-table tbody th input,
div.react-bootstrap-table tbody th select {
  padding: 0px 2px 0px 2px !important;
  font-size: 0.8rem !important;
  height: 24px !important;
}

div.react-bootstrap-table tbody td input,
div.react-bootstrap-table tbody td select {
  padding: 0px 2px 0px 2px !important;
  font-size: 0.8rem !important;
  height: 24px !important;
}

.react-bootstrap-table th,
tbody th {
  padding: 2px 5px 0px 5px !important;
  background: #f3f3f3;
  font-size: 0.8rem !important;
  color: #000 !important;
  font-weight: 400;
}

.react-bootstrap-table thead th {
  padding-top: 10px !important;
}

.react-bootstrap-table th {
  padding-bottom: 10px !important;
}

.order-4 {
  order: 4;
  position: relative;
  margin-left: 10px;
}

div.react-bootstrap-table table tbody tr {
  border-top-style: hidden !important;
  border-bottom-style: hidden !important;
}

div.react-bootstrap-table select.select-filter,
div.react-bootstrap-table input.text-filter {
  height: 24px !important;
  font-size: 0.8rem !important;
}

td.react-bootstrap-table-editing-cell {
  height: 24px !important;
  font-size: 0.8rem !important;
}
