body {
  font-weight: 300 !important;
  font-size: 1rem;
}

.react-bootstrap-table th {
  /* text-transform: uppercase; */
  font-weight: 300;
}

.react-bootstrap-table td {
  font-size: 0.8rem;
}


.react-bootstrap-table th input,
.react-bootstrap-table th select {
  padding: 2px !important;
  font-size: 0.8rem !important;
}

div.react-bootstrap-table tbody th input,
div.react-bootstrap-table tbody th select {
  padding: 0px 2px 0px 2px !important;
  font-size: 0.8rem !important;
  height: 24px !important;
}

div.react-bootstrap-table tbody td input,
div.react-bootstrap-table tbody td select {
  padding: 0px 2px 0px 2px !important;
  font-size: 0.8rem !important;
  height: 24px !important;
}

.react-bootstrap-table th,
tbody th {
  padding: 2px 5px 0px 5px !important;
  background: #f3f3f3;
  font-size: 0.8rem !important;
  color: #000 !important;
  font-weight: 400;
}

.react-bootstrap-table thead th {
  padding-top: 10px!important;
}

.react-bootstrap-table th {
  padding-bottom: 10px!important;
}

.order-4 {
  order: 4;
  position: relative;
  margin-left: 10px;
}

div.react-bootstrap-table table tbody tr {
  border-top-style: hidden !important;
  border-bottom-style: hidden !important;
}

div.react-bootstrap-table select.select-filter,
div.react-bootstrap-table input.text-filter {
  height: 24px !important;
  font-size: 0.8rem !important;
}

td.react-bootstrap-table-editing-cell {
  height: 24px !important;
  font-size: 0.8rem !important;
}
